@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .side-bar {
        -webkit-border-radius: 28;
        border-radius: 28px;
        background: #e4e6eb;
        -webkit-box-shadow: 12px 12px 24px #b5bcc9, -12px -12px 24px #f5feff;
        box-shadow: 12px 12px 24px #b5bcc9, -12px -12px 24px #f5feff;
    }

    .product-card {
        backdrop-filter: blur(8px); 
        background-color: rgba(255, 255, 255, 1); 
        border-radius: 28px; 
        box-shadow: -35px 35px 68px 0px rgba(78, 76, 76, 0.5), inset 8px -8px 16px 0px rgba(78, 76, 76, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    }

    .order-card {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background: #fcfafa;
        -webkit-box-shadow: 12px 12px 24px #efd0f9, -12px -12px 24px #ffffff;
        box-shadow: 12px 12px 24px #efd0f9, -12px -12px 24px #ffffff;
    }
    
    .btn {
        display: grid;
        place-items: center;
        background: #ff38c0;
        padding: 1.4em;
        border-radius: 10px;
        box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
        border: 1px solid rgba(0,0,0,0);
        cursor: pointer;
        transition: transform 0.5s;
      }
      
      .btn:hover {
        box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
        inset -4px -4px 6px -1px rgba(255,255,255,0.7),
        -0.5px -0.5px 0px rgba(255,255,255,1),
        0.5px 0.5px 0px rgba(0,0,0,0.15),
        0px 12px 10px -10px rgba(0,0,0,0.05);
        border: 1px solid rgba(0,0,0,0.1);
        transform: translateY(0.5em);
      }

      .orders-card {
        background: linear-gradient(225deg, #e1bce6, #ffe0ff);
        box-shadow:  -22px 22px 40px #dcb8e0,
                     22px -22px 40px #ffeaff;
      }

      .input-search {
            border: none;
            outline: none;
            padding: 1em;
            background: #f7d5fce6;
            box-shadow: inset 2px 5px 10px rgb(202, 146, 224);
            transition: 300ms ease-in-out;
        }
          
        .input-search:focus {
        background-color: white;
        transform: scale(1.05);
        box-shadow: 13px 13px 100px #c2c0c0,
                    -13px -13px 100px #ffffff;
        }
      
  }

  .product-detail {
    width: 480px;
    height: calc(100vh - 128px);
    top: 128px;
  }
